html {
    margin: 0;
}

body {
    margin: 0px !important;
}

@font-face {
    font-family: "ULPGC-icon";
    src: url("/fonts/ULPGC-icon.eot");
    src: url("/fonts/ULPGC-icon.eot") format("embedded-opentype"), url("/fonts/ULPGC-icon.ttf") format("truetype"), url("/fonts/ULPGC-icon.woff") format("woff"), url("/fonts/ULPGC-icon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block; 
}